
<div class="alert alert-info" role="alert">
    Read more about RTX-LINK <a href="http://github.com/openwateranalytics/epanet-rtx">here</a>.
</div>

<div class="row col-md-8">
    <p>
        RTX-LINK is a Tier-2 SCADA historian duplication process. It periodically checks your Tier-1 historian for new data, and pushes that data to another historian server. The Tier-2 server may be a remote cloud-based setup, or hosted within your enterprise environment.
    </p>
    <p>
        Developed by {{author}}. RTX is an open-source project.
    </p>
</div>