
<div class="alert alert-info" role="alert">
    Configure the connection to the destination database.
    <a class="pull-right" ng-click="saveAndNext()">Save <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<!-- Destination -->
<div id="destination-select">
  <div class="form-group pull-left">
      <ul class="nav nav-pills">
          <li role="presentation"  ng-repeat="(type,plist) in destinationTypes" ng-class="{ active: isType(type) }" ng-click="setDestinationType(type)">
              <a>{{rtxTypes[type]}}</a>
          </li>
      </ul>
  </div>
    <form role="form" class='form-horizontal'>
        <table class="table">
            <tbody>
            <tr ng-repeat="dict in destinationTypes[config.destination._class].inputRows" ng-switch on="dict.inputType">
                <th scope="row">{{dict.text}}</th>
                <td>
                    <input type="text" class="form-control" placeholder="{{dict.placeholder}}" ng-model="config.destination[dict.key]">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="input-group">
            <button type="submit" class="btn btn-default" ng-click="connect()">Connect</button>
        </div>
    </form>
    <hr>
      <div class="row">
        <div class="col-md-8">
        <div class="alert" role="alert" ng-class="{'alert-success' : connectionStatus == 'ok' , 'alert-danger' : connectionStatus == 'err', 'alert-warning' : connectionStatus == 'wait'}">
          {{connectionMessage}}
          <span class="glyphicon pull-right" ng-class="{'glyphicon-ok' : connectionStatus == 'ok' ,  'glyphicon-remove' : connectionStatus == 'err', 'glyphicon-hourglass' : connectionStatus == 'wait' }" aria-hidden="true"></span>
        </div>
      </div>
      </div>
</div>
