
<div class="alert alert-info" role="alert">
    View recent log entries.
</div>

<!-- STATUS -->
<div id="logs">
    <div>
      <div class="row col-md-4">
        <h4>Service Logs</h4>
      </div>
        <div class="row col-md-2">
          <button type="button" class="btn btn-default btn-sm" ng-click="refreshLogs()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        </div>
        <div class="row col-md-12">
          <hr>
          <p class="rtx-row-small" ng-repeat="logitem in logrows track by $index">{{logitem}}</p>
        </div>
    </div>
</div>
