
<div class="alert alert-info" role="alert">
    Set Timeseries Replication parameters, and any Backfill options.
    <a class="pull-right" ng-click="saveAndNext()">Save <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<!-- SERIES SELECT -->
<div id="run-options">
    <div class="row">
        <div class="col-md-3">
            <table class="table table-condensed">
                <caption>Duplication Parameters</caption>
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-1">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">Fetch Interval (m)</th>
                    <td><input type="number" class="form-control" ng-model="config.options.interval"/></td>
                </tr>
                <tr>
                    <th scope="row">Fetch Window (m)</th>
                    <td><input type="number" class="form-control" ng-model="config.options.window"/></td>
                </tr>
                <tr>
                    <th scope="row">Backfill (days)</th>
                    <td><input type="number" class="form-control" ng-model="config.options.backfill"/></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-8">
            <table class="table table-condensed">
                <caption>Dashboard Login</caption>
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-6">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">URL</th>
                    <td>
                        <div class="input-group">
                            <div class="input-group-btn" uib-dropdown>
                                <button type="button" class="btn btn-default" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">{{config.dash.proto}}://
                                    <span class="caret"></span>
                                </button>
                                <ul uib-dropdown-menu role="menu">
                                    <li ng-click="setProto('http')"><a>http://</a></li>
                                    <li ng-click="setProto('https')"><a>https://</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" aria-label="Dashboard URL" ng-model="config.dash.url">
                        </div>
                     </td>
                </tr>
                <tr>
                    <th scope="row">User</th>
                    <td><input type="text" class="form-control" ng-model="config.dash.user" placeholder="dashboard_user"></td>
                </tr>
                <tr>
                    <th scope="row">Password</th>
                    <td><input type="text" class="form-control" ng-model="config.dash.pass" placeholder="dashboard_pass_12345"></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-default" ng-click="sendGrafana()">Create Dashboards</button>
            <hr>
                <div class="alert" role="alert" ng-class="{'alert-success' : dashStatus == 'ok' , 'alert-warning' : dashStatus == 'err'}">
                  {{dashCreateMessage}}
                  <span class="glyphicon pull-right" ng-class="{'glyphicon-ok' : dashStatus == 'ok' ,  'glyphicon-info-sign' : dashStatus == 'err' }" aria-hidden="true"></span>
                </div>
        </div>
    </div>
    <hr>
</div>
