
<div class="alert alert-info" role="alert">
    View the current status of the duplication process.
</div>

<!-- SERIES SELECT -->
<div id="run-status">

    <div>
        <h4>Server Status</h4>
        <div>
            {{ status }}
        </div>
    </div>
    <div class="progress" ng-if="runInfo.run">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{runInfo.progress * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{runInfo.progress * 100}}%">
            <span class="sr-only"></span>
        </div>
    </div>
    <hr>
        <div>
            <button type="submit" class="btn btn-success" ng-click="setRun(true)" ng-if="!runInfo.run">Run</button>
            <button type="submit" class="btn btn-danger" ng-click="setRun(false)" ng-if="runInfo.run">Pause</button>
        </div>
    </div>
