
<div class="alert alert-info" role="alert">
    Set Timeseries Replication parameters, and any Backfill options.
</div>

<!-- SERIES SELECT -->
<div id="run-options">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Fetch Interval (m)</th>
            <td><input type="number" ng-model="formData.interval"/></td>
        </tr>
        <tr>
            <th scope="row">Fetch Window (hr)</th>
            <td><input type="number" ng-model="formData.window"/></td>
        </tr>
        <tr>
            <th scope="row">Backfill (days)</th>
            <td><input type="number" ng-model="formData.backfill"/></td>
        </tr>
        </tbody>
    </table>

    <div class="input-group">
        <button type="submit" class="btn btn-default" ng-click="saveAndNext()">Save Options</button>
    </div>
</div>

