<div class="alert alert-info" role="alert">
    Set the type of source record, and configure it.
    <a class="pull-right" ng-click="saveAndNext()">Save <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<!-- SOURCE SELECT -->
<div id="series-select">
    <div class="form-group pull-left">
        <ul class="nav nav-pills">
            <li role="presentation"  ng-repeat="(type,plist) in sourceTypes" ng-class="{ active: isType(type) }" ng-click="setSourceType(type)">
                <a>{{rtxTypes[type]}}</a>
            </li>
        </ul>
    </div>

    <!-- any sub-options for the list of properties? -->
    <div class="btn-group pull-right" role="group" aria-label="sub-options" ng-if="sourceTypes[config.source._class].subOptions">
        <button type="button" class="btn btn-default" ng-repeat="this_option in sourceTypes[config.source._class].subOptions" ng-class="{ active: isSubOption(this_option)}" ng-click="setSubOption(this_option)">{{this_option}}</button>
    </div>

    <form role="form" class='form-horizontal'>

        <table class="table">
            <tbody>
                <tr ng-repeat="dict in sourceTypes[config.source._class].inputRows" ng-switch on="dict.inputType" ng-if="!dict.visible_when || isSubOption(dict.visible_when)">
                    <th scope="row">{{dict.text}}</th>
                    <td ng-switch-when="text-line">
                        <input type="text" class="form-control" placeholder="{{dict.placeholder}}" ng-model="config.source[dict.key]" ng-change="refreshAdvanced(dict.visible_when)" uib-tooltip="{{dict.helptext}}">
                    </td>
                    <td ng-switch-when="select-line">
                        <select class="form-control" aria-describedby="basic-addon3" ng-controller="OdbcDriverSelectController" ng-model="config.source[dict.key]" uib-tooltip="{{dict.helptext}}"">
                            <option ng-repeat="driver in drivers" value={{driver}}>{{driver}}</option>
                        </select>
                    </td>
                    <td ng-switch-when="select-line-options">
                       <select class="form-control" aria-describedby="basic-addon3" ng-model="config.source[dict.key]" uib-tooltip="{{dict.helptext}}"">
                           <option ng-repeat="optionValue in dict.options" value={{optionValue}}>{{optionValue}}</option>
                       </select>
                    </td>
                    <td ng-switch-when="text-area">
                        <textarea class="form-control" rows="3" placeholder="{{dict.placeholder}}" ng-model="config.source[dict.key]" uib-tooltip="{{dict.helptext}}""></textarea>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="input-group" ng-if="config.source._class != 'none'">
            <button type="submit" class="btn btn-default" ng-click="connect()">Connect</button>
        </div>
    </form>


    <hr>
    <div id="ts-list" ng-if="showTsList">
        <div class="alert alert-info" role="alert" ng-if="sourceSeries.length > 0">
            Select the time series you would like replicated. Be sure to configure the Units.
        </div>

        <table class="table table-hover">
            <colgroup>
                <col class="col-md-1">
                <col class="col-md-7">
                <col class="col-md-3">
            </colgroup>
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deselectAll()""></span></th>
                <th>Name</th>
                <th>Units</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ts in selected = ( sourceSeries | filter:{_link_selected:true } | orderBy: 'name' )" ng-class="{'success':ts._link_selected == true}">
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="ts._link_selected = !ts._link_selected" ></span></td>
                <td>{{ts.name}}</td>
                <td>
                    <select ng-options="unit as unit.unitString for unit in availableUnits track by unit.rawUnits" ng-model="ts.units"></select>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-5">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-filter"></i>
            </span>
            <input type="text" class="form-control" ng-model="query" type="text" placeholder="Filter by" autofocus />
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-remove"  ng-click="query=''"></i>
            </span>
          </div>
        </div>

        <table class="table table-hover">
            <colgroup>
                <col class="col-md-8">
                <col class="col-md-3">
            </colgroup>
            <thead>
            <tr>
                <th>Name</th>
                <th>Units</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ts in sourceSeries | filter:{name:query, _link_selected:false } | orderBy: 'name'" ng-class="{'success':ts._link_selected == true}">
                <td ng-click="ts._link_selected = !ts._link_selected">{{ts.name}}</td>
                <td>
                    <select ng-options="unit as unit.unitString for unit in availableUnits track by unit.rawUnits" ng-model="ts.units"></select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
